.tela-config-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3dce6; /* Cor do fundo */
}

.card-config {
  background-color: #e3e7eb;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  text-align: left;
  width: 300px;
}

.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.link-config {
  font-style: italic;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.botao-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42566e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.botao-inicio:hover {
  background-color: #2f3f56;
}

.icone-casa {
  margin-right: 8px;
}
